@font-face {
    font-family: 'Title'; 
    src: url('title.ttf') format('opentype'); 
  }



html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    text-align: center;
    background-color: black;
    color:white;
    font-family: 'Courier New';
    overflow-y: hidden;
}

h1 {
    font-size: 5vw;
    font-family:'Title';
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    width:120%;
}

.one {
    top: -10vh;
    left: -225;
    color: white;
}

.two {
    top: -5vh;
    left: -250;
    color: rgba(255, 255, 255, 0.7);
}

.three {
    top: 0vh;
    left: -275;
    color: rgba(255, 255, 255, 0.4);
}

.four {
    top: 5vh;
    left: -300;
    color: rgba(255, 255, 255, 0.1);
}

.center-image-container {
    width: 100%;
    margin: auto;
    margin-top: 150px;
    position: relative;
    pointer-events: none;
}

.center-image {
    width: 40%;
    border-radius: 1000px;
    cursor: pointer;
    filter: invert(1);
}

.center-image:hover {
    border: 2px solid red;
}

.overlay-text {
    position: absolute;
    width: 25%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.overlay-text:hover {
    visibility: visible;
    opacity: 1;
}

.inverted {
    filter: invert(1);
}

.footer {
    background-color: #420707;
    color: white;
    text-align: center;
    position: fixed;
    height: fit-content;
    bottom: 0;
    width: 100%;
}

.banner {
    width: 100%;
    height: 250px;
    margin-top:20px;
    background-image: url('media/main/grid-background.gif');
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index:-3;
}

.banner::after {
    position: absolute;
    content: "";
    height: 30%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(black 0%, transparent 100%);
}
  
.banner::before {
    position: absolute;
    content: "";
    height: 30%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent 0%, black 100%);
}

.bottom-marquee {
    text-transform: uppercase;
    padding:5px 0 2px;
}

.p-para {
    width: 50%;
    border: 2px solid white;
    color: white;
    padding: 20px;
    margin: auto;
    text-align: left;
    transition: 0.3s;
}

.p-para:hover {
    color: red;
    border: 2px solid red;
    cursor: default;
}

.white-body {
    background-color: white;
    color: black;
    width: 100%;
    height: 450px;
    margin-top: 50px;
    position: relative;
    font-family: 'Title';
    font-size: 25px;
    font-weight: bold;
    display: flex;
}

.white-body-para {
    text-transform:lowercase;
    text-align: right;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 20px;

}

.white-body-para-overlay {
    text-transform:lowercase;
    position: absolute;
    text-align: right;
    right: 5%;
    bottom: 5%;
    color: rgba(0, 0, 0, 0.5);
}

.cupid {
    position:absolute;
    height: 150%;
    left: -7%; 
    top: -25%;
}

.cupid-overlay {
    position: absolute;
    height: 150%;
    left: -6.5%;
    top: -24.5%;
    transition: 0.3s;
    filter: invert(16%) sepia(94%) saturate(6519%) hue-rotate(358deg) brightness(125%) contrast(114%);
}

.cupid-overlay:hover {
    opacity: 1;
}


.about-me {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border: 2px solid black;
    padding: 50px;
    font-size: 20px;
    width: 25%;
}

.angel-marquee {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: rotate(-30deg);
    background-color: black;
    color: white;
    width: 125%;
    overflow-y: hidden;
}