@font-face {
    font-family: 'Title'; 
    src: url('title.ttf') format('opentype'); 
  }



html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    text-align: center;
    background-color: black;
    color:white;
    font-family: 'Courier New';
    overflow-y: hidden;
}

h1 {
    font-size: 10vw;
    font-family:'Title';
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    width:120%;
}

.one{
    top: -25vh;
    left: -225;
    color: white;
}

.two {
    top: -20vh;
    left: -250;
    color: rgba(255, 255, 255, 0.7);
}

.three {
    top: -15vh;
    left: -275;
    color: rgba(255, 255, 255, 0.4);
}

.four {
    top: -10vh;
    left: -300;
    color: rgba(255, 255, 255, 0.1);
}

.center-image-container {
    width: 100%;
    margin: auto;
    margin-top: 150px;
    position: relative;
    pointer-events: none;
}

.center-image {
    width: 40%;
    border-radius: 1000px;
    cursor: pointer;
    filter: invert(1);
}

.center-image:hover {
    border: 2px solid red;
}

.overlay-text {
    position: absolute;
    width: 25%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.overlay-text:hover {
    visibility: visible;
    opacity: 1;
}

.inverted {
    filter: invert(1);
}

.footer {
    background-color: #420707;
    color: white;
    text-align: center;
    position: fixed;
    height: fit-content;
    bottom: 0;
    width: 100%;
}

.banner {
    width: 100%;
    height: 250px;
    margin-top:20px;
    background-image: url('media/main/grid-background.gif');
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index:-3;
}

.banner::after {
    position: absolute;
    content: "";
    height: 30%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(black 0%, transparent 100%);
}
  
.banner::before {
    position: absolute;
    content: "";
    height: 30%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent 0%, black 100%);
}

.bottom-marquee {
    text-transform: uppercase;
    padding:5px 0 2px;
    z-index:2000;
}

.p-para {
    width: 50%;
    border: 2px solid white;
    color: white;
    padding: 20px;
    margin: auto;
    text-align: left;
    transition: 0.3s;
}

.p-para:hover {
    color: red;
    border: 2px solid red;
    cursor: default;
}

.white-body {
    background-color: white;
    background-image: url('media/main/sticks.gif');
    color: black;
    width: 100%;
    height: 450px;
    margin-top: 50px;
    position: relative;
    font-family: 'Title';
    font-size: 25px;
    font-weight: bold;
    display: flex;
}

.white-body-para {
    text-transform:lowercase;
    text-align: right;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 20px;

}

.white-body-para-overlay {
    text-transform:lowercase;
    position: absolute;
    text-align: right;
    right: 5%;
    bottom: 5%;
    color: rgba(0, 0, 0, 0.5);
}

.cupid {
    position:absolute;
    height: 150%;
    left: -7%; 
    top: -25%;
}

.cupid-overlay {
    position: absolute;
    height: 150%;
    left: -6.5%;
    top: -24.5%;
    transition: 0.3s;
    filter: invert(16%) sepia(94%) saturate(6519%) hue-rotate(358deg) brightness(125%) contrast(114%);
}

.cupid-overlay:hover {
    opacity: 1;
}


.about-me {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color:red;
    color: white;
    font-size: 20px;
    padding: 10px;
    z-index: 3;
    box-sizing: border-box;
    border: 5px solid rgba(0, 0, 0, 0.0);
}

.about-me:hover {
    border: 5px solid black;
    cursor: pointer;
}

.angel-marquee {
    position: absolute;
    overflow-y: hidden;
    height:fit-content;
    width: calc(450px / sin(30deg) + 250px);
    margin-top: calc(450px / 2); 
    transform: rotate(-30deg);
    font-family:'Georgia';
    background-color: black;
    color: white;
}

.a-1 {
    margin-left: -25%;
}

.a-2 {
    margin-left: -20%;
}

.a-3 {
    margin-left: -15%;
}

.angel-marquee-container > div {
    position: relative;
}

.angel-marquee-container {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.black-para-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
}

.black-para {
    width: 25%;
    text-align: left;
    margin-top: -20px;
    position: absolute;
    left: 25px;
    font-family: 'Consolas';
}


.cudgels-container {
    width: 45%;
    margin: auto;
    margin-left: 3%;
    margin-top: 50px;
    position: relative;
}

.cudgels {
    width: 100%;
}

.cudgel-caption {
    position: absolute;
    left: 50%;
    bottom: -5%;
    z-index: 2;
    height: fit-content;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: left;
    overflow: scroll;
    color: black;
    padding: 20px;
    font-weight: bold;
}

.lying-figure {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 75%;
}

.eva {
    margin-top: 20px;
    text-align: left;
    font-family: 'Times New Roman';
    font-weight: bold;
    transform: scaleX(79%);
    max-width: 75%;
    margin: auto;
    position: relative;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.eva-gif {
    position: absolute;
    z-index: -1000;
}

.eva-gif-1 {
    left: 50%;
    top: 50%;
    transform: rotateX(27deg);
}

.eva-gif-2 {
    left:20%;
    top: 25%;
}

.eva-gif-3 {
    left: 80%;
    top: 25%;
}

.eva-gif-4 {
    top: 35%;
}

.eva-gif-5 {
    left: 42%;
    top: 8%;
}

.eva-gif-6 {
    left: 74%;
    top: 65%;
    filter: invert(1);
}

.eva-header {
    font-size: 125px;
    color: transparent;
    background-size: cover;
    background: url('media/main/200w.gif');
    background-clip: text;
}

.eva-subheader-1 {
    color: transparent;
    background-size: cover;
    background: url('media/main/200w.gif');
    background-clip: text;

}

.more-about {
    width: 30%;
    display: none;
    position: absolute;
    height: 0px;
    left: 75%;
    top: 50%;
    background-color: black;
    color: white;
    border: 5px solid red;
    overflow: hidden;
    transform: translate(-50%, -50%);
    z-index: 50;
    padding: 20px;
    font-size: 15px;
    text-align: justify;
    font-family: 'Arial';
    font-weight: bold;
}

.slider {
    position: relative;
    width: 616px;
    height: 616px;
    overflow: hidden;
    border: 2px solid red;
    margin-left: calc((100vw - 616px) / 2);
    margin-bottom: 250px;
    cursor: default;

}

.square-cover {
    position: absolute;
    background-color: white;
    display: flex;
    width: 616px;
    height: 616px;
}

.square-back {
    background-image: url('media/main/cupidinf.png');
    background-color: black;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.yellow-left {
    background-color: yellow;
    float: left;
    width: 20%;
    height: 100%;
    position: relative;

}

.yellow-head {
    color: black;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    font-family: 'Title';
    font-weight: bold;
    word-wrap: break-word;
    font-size: 2rem;    
}

.horizontal-text {
    height: 110%;
    width: 100%;
    box-sizing: border-box;
    writing-mode: sideways-lr;
    overflow: hidden;
    color: white;
    background-color: black;
    text-align: left;
    font-size: 50px;
    position: absolute;
    top: -5%;
    font-family: 'Times New Roman';
    letter-spacing: 1px;
    line-height: 18px;
    mix-blend-mode: color-burn;
}

.square-right {
    width:80%;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    overflow: none;
    background-image: url('media/main/cupid.png');
    background-repeat: no-repeat;
    background-position: center;
}

.tmbtp {
    position: absolute;
    right: 2%;
    bottom: 2%;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    z-index: 100;
}

.corinth-right {
    position: absolute;
    height: 100%;
    width: 75%;
    left: 50%;
    font-size: 1.3rem;
    text-align: left;
}

.sliders {
    position: relative;
}

.slider-banner {
    position: absolute;
    width: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    height: 250px;
    top: 50%;
    transform: translate(0, -50%);
    background-image: url('media/main/static.gif');
}

.ba-slider {
  width: 616px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.ba-resizable-inner {
  position: absolute;
  right: 0;
  overflow: hidden;
}

.ba-resizable-inner-one {
  position: absolute;
  right: 0;
  overflow: hidden;
}

.cb-slider {
  width: 616px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.cb-slider .resize {
  border-right: dashed 2px black;
}

.ba-slider .resize {
  border-left: dashed 2px black;
}

.cb-resizable-inner {
  position: absolute;
  left: 0;
  overflow: hidden;
}

.cb-resizable-inner-one {
  position: absolute;
  left: 0;
  overflow: hidden;
}

.ba-slider {
    position: relative;
    overflow: hidden;
}

.ba-slider img {
    width: 100%;
    display:block;
    max-width:none;
}

.ba-slider .resize {
    position: absolute;
    float: right;
    top:0;
    left:25%;
    width:25%;
    height: 100%;
    overflow: hidden;
}

.ba-resizable-former {
  float: right;
  height: 616px;
  width: 50%;
  overflow: hidden;
  position: inherit;
  top: 0;
}

.ba-slider .handle { /* Thin line seperator */
  position:absolute;
  left:50%;
  top:0;
  bottom:0;
  margin-left:-2px;

  background: rgba(0,0,0,.5);
  cursor: ew-resize;
}

.ba-slider .handle:after {  /* Big orange knob  */
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;

    content:'\21d4';
    color:white;
    font-weight:bold;
    font-size:36px;
    text-align:center;
    line-height:64px;

    background: #ffb800; /* @orange */
    border:1px solid #e6a600; /* darken(@orange, 5%) */
    border-radius: 50%;
    transition:all 0.3s ease;
    box-shadow:
      0 2px 6px rgba(0,0,0,.3),
      inset 0 2px 0 rgba(255,255,255,.5),
      inset 0 60px 50px -30px #ffd466; /* lighten(@orange, 20%)*/
}

.ba-slider .handle.ba-draggable:after {
  width: 32px;
  height: 32px;
  margin: -16px 0 0 -16px;
  line-height:34px;
  font-size:20px;
}


.cb-slider {
    position: relative;
    overflow: hidden;
}

.cb-slider img {
    width: 100%;
    display:block;
    max-width:none;
}

.cb-slider .resize {
    position: absolute;
    float: left;
    top:0;
    left:50%;
    width:25%;
    height: 100%;
    overflow: hidden;
}

.cb-resizable-former {
  float: left;
  height: 616px;
  width: 50%;
  overflow: hidden;
  position: inherit;
  top: 0;
}

.cb-slider .handle { /* Thin line seperator */
  position:absolute;
  left:50%;
  top:0;
  bottom:0;
  margin-left:-2px;

  background: rgba(0,0,0,.5);
  cursor: ew-resize;
}

.cb-slider .handle:after {  /* Big orange knob  */
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;

    content:'\21d4';
    color:white;
    font-weight:bold;
    font-size:36px;
    text-align:center;
    line-height:64px;

    background: #ffb800; /* @orange */
    border:1px solid #e6a600; /* darken(@orange, 5%) */
    border-radius: 50%;
    transition:all 0.3s ease;
    box-shadow:
      0 2px 6px rgba(0,0,0,.3),
      inset 0 2px 0 rgba(255,255,255,.5),
      inset 0 60px 50px -30px #ffd466; /* lighten(@orange, 20%)*/
}

.cb-slider .handle.cb-draggable:after {
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px;
    line-height:34px;
    font-size:20px;
}

tspan {
    fill: white;
}

.work {
    background-color: white;
    color: black;
    padding: 20px;
    margin: auto;
    width: 50%;
    font-family: 'Consolas';
    text-align:left;
}

.raw {
    background-image: url('media/main/roach.gif');
    background-repeat: repeat;
    background-clip: text;
    color: transparent;
    width: 80%;
    padding: 20px;
    margin: auto;
    text-align: justify;
    font-size: 35px;
    font-family: 'Georgia';
    font-weight: bold;
    filter: invert(1);
}

.raw-background {
    background-color: white;
    margin-top: 20px;
    background-image: url('media/main/roach.gif');
}

#anon { 
    text-align: justify;
    padding-inline: 35px;
    cursor: default;
}

.blackText {
    color: black;
}

.redText{
    color:red;
}

.pictures {
    margin: auto;
    margin-top: 50px;
}

.pictures img {
    height: 250px;
    padding: 0px;
}

.p-abs {
    position: relative;
}

.p-text {
    position: absolute;
    background-color: white;
    color: black;
    left: 20%;
    top: 5%;
    font-size:25px;
    font-family:'Times New Roman';
    padding-inline:5px;
}

.textb {
    left: 50%;
    top: 13%;
}

.form {
    background-color: white;
    color: black;
    width: 50%;
    margin: auto;
    margin-block: 30px;
    padding: 25px;
    text-align: justify;
    font-family: 'Times New Roman';
}

.question {
    font-size: 30px;
}

.form b {
    font-size: 25px;
    color: black;
}

.form .answer {
    font-size: 25px;
    color: black;
}