@font-face {
    font-family: 'Title'; 
    src: url('title.ttf') format('opentype'); 
  }



html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    text-align: center;
    background-color: black;
    color:white;
    font-family: 'Courier New';
    overflow-y: hidden;
}

h1 {
    font-size: 10vw;
    font-family:'Title';
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    width:120%;
}

.one {
    top: -25vh;
    left: -225;
    color: white;
}

.two {
    top: -20vh;
    left: -250;
    color: rgba(255, 255, 255, 0.7);
}

.three {
    top: -15vh;
    left: -275;
    color: rgba(255, 255, 255, 0.4);
}

.four {
    top: -10vh;
    left: -300;
    color: rgba(255, 255, 255, 0.1);
}

.center-image-container {
    width: 100%;
    margin: auto;
    margin-top: 150px;
    position: relative;
    pointer-events: none;
}

.center-image {
    width: 40%;
    border-radius: 1000px;
    cursor: pointer;
    filter: invert(1);
}

.center-image:hover {
    border: 2px solid red;
}

.overlay-text {
    position: absolute;
    width: 25%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.overlay-text:hover {
    visibility: visible;
    opacity: 1;
}

.inverted {
    filter: invert(1);
}

.footer {
    background-color: #420707;
    color: white;
    text-align: center;
    position: fixed;
    height: fit-content;
    bottom: 0;
    width: 100%;
}

.banner {
    width: 100%;
    height: 250px;
    margin-top:20px;
    background-image: url('media/main/grid-background.gif');
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index:-3;
}

.banner::after {
    position: absolute;
    content: "";
    height: 30%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(black 0%, transparent 100%);
}
  
.banner::before {
    position: absolute;
    content: "";
    height: 30%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent 0%, black 100%);
}

.bottom-marquee {
    text-transform: uppercase;
    padding:5px 0 2px;
}

.p-para {
    width: 50%;
    border: 2px solid white;
    color: white;
    padding: 20px;
    margin: auto;
    text-align: left;
    transition: 0.3s;
}

.p-para:hover {
    color: red;
    border: 2px solid red;
    cursor: default;
}

.white-body {
    background-color: white;
    background-image: url('media/main/sticks.gif');
    color: black;
    width: 100%;
    height: 450px;
    margin-top: 50px;
    position: relative;
    font-family: 'Title';
    font-size: 25px;
    font-weight: bold;
    display: flex;
}

.white-body-para {
    text-transform:lowercase;
    text-align: right;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 20px;

}

.white-body-para-overlay {
    text-transform:lowercase;
    position: absolute;
    text-align: right;
    right: 5%;
    bottom: 5%;
    color: rgba(0, 0, 0, 0.5);
}

.cupid {
    position:absolute;
    height: 150%;
    left: -7%; 
    top: -25%;
}

.cupid-overlay {
    position: absolute;
    height: 150%;
    left: -6.5%;
    top: -24.5%;
    transition: 0.3s;
    filter: invert(16%) sepia(94%) saturate(6519%) hue-rotate(358deg) brightness(125%) contrast(114%);
}

.cupid-overlay:hover {
    opacity: 1;
}


.about-me {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color:red;
    color: white;
    font-size: 20px;
    padding: 10px;
    z-index: 3;
    box-sizing: border-box;
    border: 5px solid rgba(0, 0, 0, 0.0);
}

.about-me:hover {
    border: 5px solid black;
    cursor: pointer;
}

.angel-marquee {
    position: absolute;
    overflow-y: hidden;
    height:fit-content;
    width: calc(450px / sin(30deg) + 250px);
    margin-top: calc(450px / 2); 
    transform: rotate(-30deg);
    font-family:'Georgia';
    background-color: black;
    color: white;
}

.a-1 {
    margin-left: -25%;
}

.a-2 {
    margin-left: -20%;
}

.a-3 {
    margin-left: -15%;
}

.angel-marquee-container > div {
    position: relative;
}

.angel-marquee-container {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.black-para-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
}

.black-para {
    width: 25%;
    text-align: left;
    margin-top: -20px;
    position: absolute;
    left: 25px;
    font-family: 'Consolas';
}


.cudgels-container {
    width: 45%;
    margin: auto;
    margin-left: 3%;
    margin-top: 50px;
    position: relative;
}

.cudgels {
    width: 100%;
}

.cudgel-caption {
    position: absolute;
    left: 50%;
    bottom: -5%;
    z-index: 2;
    height: fit-content;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: left;
    overflow: scroll;
    color: black;
    padding: 20px;
    font-weight: bold;
}

.lying-figure {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 75%;
}

.eva {
    margin-top: 20px;
    text-align: left;
    font-family: 'Times New Roman';
    font-weight: bold;
    transform: scaleX(79%);
    max-width: 75%;
    margin: auto;
    position: relative;
}

.eva-header {
    font-size: 125px;
}

.more-about {
    width: 30%;
    display: none;
    position: absolute;
    height: 0px;
    left: 75%;
    top: 50%;
    background-color: black;
    color: white;
    border: 5px solid red;
    overflow: hidden;
    transform: translate(-50%, -50%);
    z-index: 50;
    padding: 20px;
    font-size: 15px;
    text-align: justify;
    font-family: 'Arial';
    font-weight: bold;
}