.main {
    width: 40%;
    margin: auto;
    margin-top: 50px;
}

.header-img {
    width: 100%;
}

body {
    color: white;
    background-repeat: repeat;
    font-family: 'Georgia';
    font-size: 20px;
}

.nathan {
    color: rgb(255, 34, 34);
    text-align: justify;
    margin: 8px 0;
}

.alex {
    text-align: justify;
    color: rgb(79, 255, 79);
    transform: translateX(10%);
    margin: 8px 0;
}

.narration {
    text-align: justify;
    transform: translateX(20%);
    margin: 8px 0;
}


.bright-hover {
    filter: brightness(25%);
    transition: 0.1s;
}

.bright-hover:hover {
    filter:brightness(50%);
}

.white {
    color: white;
}

@keyframes flash {
    0% {
        background-color: white;
        color:red;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: white;
        color:red;
    }
}

.cut {
    color: white;
    background-color: red;
    font-size: 20px;
    font-family: 'Georgia';
    padding: 10px;
    width: fit-content;
    cursor:pointer;
}

.next {
    margin-top:20px;
    background-color:white;
    width:fit-content;
    padding:5px;
    text-align:right;
    font-size:25px;
    text-decoration:none;
}

.next:hover{
    color:white;
    background-color:black;
}


.cut:hover {
    animation: flash 0.1s infinite alternate;
    animation-play-state: running;
}