.row {
    font-size: 25px;
}

#game {
    border: 1px dotted black;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    padding: 20px;
    font-family: 'Consolas';
}

h1 {
    font-size: 50px;
}

.red {
    color: red;
}

.black {
    color: black;
}