body {
    background-color: black;
    color: white;
}

.gameContainer {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 45%;
    margin-top: 20px;
    
}

.gameInfo {
    padding-inline: 20px;
    padding-block: 5px;
    height: fit-content;
    text-align: left;
    font-size: 15px;
    font-family:'Verdana';
    width: 50%;
}

.gameInfo > label {
    font-weight: bold;
    text-decoration:underline;
}

#game {
    border: 1px dotted white;
    border-radius: 5px;
    width: fit-content;
    padding: 20px;
    margin-inline: 20px;
    font-family: 'Consolas';
    font-size: 20px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    text-align: center;
}

.red {
    color: red;
}

.black {
    color: white;
}


#startButton {
    background-color: #386fa4; 
    border: none; 
    color: white; 
    font-size: 20px; 
    padding:5px;
    font-family:'Consolas'; 
    cursor:pointer;
    transition: 0.3s;
    background-color: white;
    color: black;
    margin-inline: 50%;
    transform: translate(-50%, 0);
}

#startButton:hover {
    background-color: gray;
    color:white;
}

#kiaiInfo {
    font-weight: bold;
    font-size: 15px;
}

\